<%- include('partials/header') -%>
<br>
<br>
<br>
  <h1 class="text-4xl mb-4">welcome back, <span class="username"><%= username %></span>.</h1>

  <div class="userStats">
    <div class="elevation">
      <%= elevation %><br>
      feet
    </div><br>
    <div class="trips">
      <%= trips %><br>
      trips
    </div><br>
    <div class="referrals">
      <%= referrals %><br>
      tips
    </div>
  </div><br>

  <div class="survey">
    where have you been recently?
    <form id="location" action="/survey">
      <input type="text" name="location" placeholder="i've been to...">
    </form>
  </div>

<%- include('partials/footer') -%>
