<!DOCTYPE html>
<html lang="en" class="bg-gray-200">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= locals.title || "nomadsland" %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="icon" href="/images/nomad.png">
  <link rel="stylesheet" href="\css\survey.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap" rel="stylesheet">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script type='text/javascript' tripLat="<%= tripLat %>" tripLong="<%= tripLong %>">
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var lat = parseFloat(document.getElementById('tripLat').value);
  var lng = parseFloat(document.getElementById('tripLong').value);
  const uluru = { lat: lat, lng: lng };
  // The map, centered at Uluru
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,
    center: uluru,
  });
  const centerMarker = new google.maps.Marker({
    position: uluru,
    map: map
  });

  var recsMade = parseInt(document.getElementById('recsMade').value);
  var activityRecsMade = parseInt(document.getElementById('activityRecsMade').value);
  var foodRecsMade = parseInt(document.getElementById('foodRecsMade').value);
  var sightRecsMade = parseInt(document.getElementById('sightRecsMade').value);
  var latList = document.getElementsByClassName('activityLat');
  var longList = document.getElementsByClassName('activityLong');
  for (var i = 0; i < activityRecsMade; i++){
    var tipLat = parseFloat(latList[i].value);
    var tipLong = parseFloat(longList[i].value);
    const tipMarker = {lat: tipLat, lng: tipLong };
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: tipMarker,
    map: map,
    icon: {
      url: `https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_blue${i + 1}.png`
    }
  });
}
var foodLat = document.getElementsByClassName('foodLat');
var foodLong = document.getElementsByClassName('foodLong');
  for (var j = 0; j < foodRecsMade; j++){
    var tipLat = parseFloat(foodLat[j].value);
    var tipLong = parseFloat(foodLong[j].value);
    const tipMarker = {lat: tipLat, lng: tipLong };
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: tipMarker,
    map: map,
    icon: {
      url: `https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_red${j + 1}.png`
    }
  });
}
var sightLat = document.getElementsByClassName('sightLat');
var sightLong = document.getElementsByClassName('sightLong');
  for (var k = 0; k < sightRecsMade; k++){
    var tipLat = parseFloat(sightLat[k].value);
    var tipLong = parseFloat(sightLong[k].value);
    const tipMarker = {lat: tipLat, lng: tipLong };
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: tipMarker,
    map: map,
    icon: {
      url: `https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_green${k + 1}.png`
    }
  });


  }

}
</script>

</head>

<body id="body" onload='initMap("<%= tripLat %>", "<%= tripLong %>", "<%= activityLats %>", "<%= activityLong %>", "<%= recsMade %>")'>
  <nav class="flex items-center justify-between flex-wrap navbar-success" style="background-color: transparent;"">
        <div class=" w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a class="navbar-brand" href="https://nomadsland.app"><img src="/images/whitenomad.png" width="35"
          height="35"></a>
      <a href="https://instagram.com/jimmynomad" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram"
          viewBox="0 0 16 16">
          <path
            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
        </svg></a>
      <a href="https://www.facebook.com/Jimmy-Nomad-113627307224031" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook"
          viewBox="0 0 16 16">
          <path
            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
        </svg></a>

      <% if (locals.user) { %>
        <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">about</a>
        <a href="/logout" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">sign
          out</a>
        <% } else { %>
          <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">about</a>
          <a href="/login" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">sign
            in</a>
          <% } %>
    </div>
    </div>
  </nav>

  <form id="tripLocation">
    <input type="hidden" id="tripLat" value="<%= tripLat %>">
    <input type="hidden" id="tripLong" value="<%= tripLong %>">
    <input type="hidden" id="recsMade" value="<%= recsMade %>">
    <input type="hidden" id="activityRecsMade" value="<%= activityRecsMade %>">
    <input type="hidden" id="foodRecsMade" value="<%= foodRecsMade %>">
    <input type="hidden" id="sightRecsMade" value="<%= sightRecsMade %>">
    <% if (activityRecsMade == 1){ %>
      <input type="hidden" class="activityLocation" value="<%= activityLocation %>">
      <input type="hidden" class="activityLat" value="<%= activityLats %>">
      <input type="hidden" class="activityLong" value="<%= activityLong %>">
    <% }else if (activityRecsMade > 1) { %>
    <% for (var i = 0; i < recsMade; i++){ %>
      <input type="hidden" class="activityLocation" value="<%= activityLocation[i] %>">
      <input type="hidden" class="activityLat" value="<%= activityLats[i] %>">
      <input type="hidden" class="activityLong" value="<%= activityLong[i] %>">
    <% } %>
    <% } %>

    <% if (foodRecsMade == 1){ %>
      <input type="hidden" class="foodLocation" value="<%= foodLocation %>">
      <input type="hidden" class="foodLat" value="<%= foodLat %>">
      <input type="hidden" class="foodLong" value="<%= foodLong %>">
    <% }else if (foodRecsMade > 0){ %>
    <% for (var i = 0; i < foodRecsMade; i++){ %>
      <input type="hidden" class="foodLocation" value="<%= foodLocation[i] %>">
      <input type="hidden" class="foodLat" value="<%= foodLat[i] %>">
      <input type="hidden" class="foodLong" value="<%= foodLong[i] %>">
    <% } %>
    <% } %>

    <% if (sightRecsMade == 1){ %>
      <input type="hidden" class="sightLocation" value="<%= sightLocation %>">
      <input type="hidden" class="sightLat" value="<%= sightLat %>">
      <input type="hidden" class="sightLong" value="<%= sightLong %>">
    <% }else if (sightRecsMade > 0){ %>
    <% for (var i = 0; i < sightRecsMade; i++){ %>
      <input type="hidden" class="sightLocation" value="<%= sightLocation[i] %>">
      <input type="hidden" class="sightLat" value="<%= sightLat[i] %>">
      <input type="hidden" class="sightLong" value="<%= sightLong[i] %>">
    <% } %>
    <% } %>
  </form>


  <br><br>
  <div class="survey" id="survey">
    <h1> my trip to<br><span class="place">
        <%= location %>
      </span></h1>
    <br><br>
  </div>
  <!--The div element for the map -->
  <div id="map"></div><br>
  <div id="tips">
    <h3><b>your tips: </b></h3>
    <h4>do:</h4>
    <% if (activityRecsMade == 1){ %>
      <div id="tip">
        1. <%= activityLocation %>
      </div>
    <% }else{ %>
      <div id="tipList">
    <% for (var i = 0; i < activityRecsMade; i++){ %>
      <div id="tip<%= i %>">
        <%= i + 1 %>. <%= activityLocation[i] %> <br>
      </div>
    <% } %>
    <% } %>
    <h4>eat:</h4>
    <% if (foodRecsMade == 1){ %>
      <div id="tip">
        1. <%= foodLocation %>
      </div>
    <% }else{ %>
      <div id="tipList">
    <% for (var i = 0; i < foodRecsMade; i++){ %>
      <div id="tip<%= i %>">
        <%= i + 1 %>. <%= foodLocation[i] %> <br>
      </div>
    <% } %>
    <% } %>
    <h4>see:</h4>
    <% if (sightRecsMade == 1){ %>
      <div id="tip">
        1. <%= sightLocation %>
      </div>
    <% }else{ %>
      <div id="tipList">
    <% for (var i = 0; i < sightRecsMade; i++){ %>
      <div id="tip<%= i %>">
        <%= i + 1 %>. <%= activityLocation[i] %> <br>
      </div>
    <% } %>
    <% } %>

  </div>

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcC2sq8E4kXCHYO0PlScz7ah2xNRc_jZ4&callback=initMap&libraries=&v=weekly"
    async
  ></script>

  <br><br>
  <a href="/profile">back home</a>
</body>

</html>